.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 550px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  /* margin-bottom: 300px; */
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 25%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #919b93;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 55%;
  right: 5%;
  z-index: 999;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 55%;
  left: 5%;
  z-index: 999;
  color: #fff;
}

.buttonConfirmContent {
  height: 25%;
  width: 30%;
  position: absolute;
  top: 55%;
  left: 36%;
  z-index: 999;
  background-color: rgb(137, 13, 148);
  font-size: 3em;
  color: whitesmoke;
  line-height: 2.5;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color:black;
}

.alternativa {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  
}

.btn-alternativa {
  width: 100%;
  height: 100%;
  font-size: 100px;
  color: whitesmoke;
  line-height: 1.8;
}

.vermelho {
  background-color: #d62c2c;
}
.azul {
  background-color: #2d2df0;
}
.verde {
  background-color: #23c123;
}
.amarelo {
  background-color: #e3e323;
  color: black;
}
.amarelo:hover {
  color: white;
}
.marrom {
  background-color: rgb(82, 4, 4);
}
