.gabarito{
  border: 2px solid #000;
  background-color: #000;
  color: aliceblue;
  width: 80px;
  height: 80px;
  border-radius: 80%;
  margin: 5px;
}

.teclado{  
  /* border: 2px solid red; */
  margin: 0 150px;
  height: 500px;
  background-color: #555;
  padding: 5px 5px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px -4px #000;
  margin-bottom: 30px;
}
